body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
.selectDIV{
  position: absolute;
  top: 10px;
  width: calc(100% - 20px);
  margin: auto 10px;
}
.selectDIV a{
  margin-right: 10px;
  cursor: pointer;
  display: inline-block;
}